*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button-landing {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.figur img{
    width: 50%;
    height: 100%;
    object-fit: cover;
}