

/* ------------- NAVIGATION ----------- */
/* Navigation Bar */


/* Navigation Links */




/* ---------- USERPAGE ----------- */

.destinations-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 40px;
  margin-top: 150px;
}

.destination-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 250px;
}

.destination-image {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}
